SUPABASE_URL=https://wghpuytsnjldzysxnrpm.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SIGNAL_CLI_PATH=signal-cli\bin\signal-cli.bat
JAVA_HOME=C:\Program Files\Java\jdk-25.0.2
